.letter-list {
  height: 100%;
  padding: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .letter-list__letter-table {
    width: 100%; }
  .letter-list__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 0;
    border-right: 0; }
    .letter-list__header-td {
      min-width: 35px; }
      .letter-list__header-td:first-child {
        min-width: 45px;
        padding-left: 1rem; }
  .letter-list__letter {
    min-height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -ms-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }
    .letter-list__letter:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.02); }
    .letter-list__letter:hover {
      background-color: rgba(0, 0, 0, 0.05); }
