.letter-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
  display: flex;
  align-items: center; }
  .letter-checkbox__checkbox-frame {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    display: block;
    opacity: .75;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -ms-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s; }
    .letter-checkbox__checkbox-frame svg {
      position: absolute;
      left: 50%;
      top: 50%;
      color: white;
      opacity: 0;
      transform: translate(-50%, -50%);
      font-size: .6rem;
      -webkit-transition: ease 0.25s;
      -moz-transition: ease 0.25s;
      -ms-transition: ease 0.25s;
      -o-transition: ease 0.25s;
      transition: ease 0.25s; }
    .letter-checkbox__checkbox-frame:before {
      content: '';
      width: 0rem;
      height: 0rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0;
      color: transparent;
      pointer-events: all;
      -webkit-transition: ease 0.25s;
      -moz-transition: ease 0.25s;
      -ms-transition: ease 0.25s;
      -o-transition: ease 0.25s;
      transition: ease 0.25s;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
    .letter-checkbox__checkbox-frame:hover {
      opacity: 1; }
      .letter-checkbox__checkbox-frame:hover:before {
        opacity: 1;
        width: 2rem;
        height: 2rem; }
  .letter-checkbox--selected .letter-checkbox__checkbox-frame {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0); }
    .letter-checkbox--selected .letter-checkbox__checkbox-frame svg {
      opacity: 1; }
